@import "materialize";

.App-body {
  text-align: center;
  margin: 24px;
}

.wyr-button {
  margin-top: 24px;
}

.question-container {
  margin-top: 24px;
}

.theme-container {
  text-align: center;
  margin: 24px auto;
}

.add-theme__input {
  max-width: 50%;
  margin: 4px auto;
}

.width--100 {
  width: 100%;
}

.secondary-row {
  margin: 48px 0 24px 0;
  padding: 12px 0;
}
